/* Widths and spaces */
/* Colors */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400; }

body {
  font-family: 'Rubik', sans-serif;
  font-size: 20px; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.75rem; }

body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1000px;
  margin: auto; }

.hidden {
  display: none; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: center; }

.header {
  margin-bottom: 3rem;
  transition: 0.3s ease; }
  .header h1 {
    margin-bottom: 0; }
  .header p {
    margin: 0; }

/* Quick Showcase */
.data-quick-showcase {
  font-size: 2rem;
  margin-bottom: 3rem; }
  .data-quick-showcase span {
    font-weight: bold;
    color: #29c4ff;
    background: linear-gradient(75.2deg, #29c4ff -2.5%, #ff9ed3 55%, #ffb68a 102.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.loading-container {
  width: 100%;
  max-width: 30rem;
  margin: auto;
  text-align: center;
  margin-top: 20vh; }
  .loading-container .loading-bar, .loading-container .loading-bar-wrapper {
    height: 1rem;
    border-radius: 1rem; }
  .loading-container .loading-bar-wrapper {
    background-color: #eee; }
  .loading-container .loading-bar {
    background: linear-gradient(75.2deg, #29c4ff -2.5%, #ff9ed3 55%, #ffb68a 102.3%);
    transition: 0.2s ease;
    min-width: 5%; }
  .loading-container .js-loading-bar {
    width: 0%; }
