html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.75rem;
}