body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-max-width;
  margin: auto;
}

.hidden {
  display: none;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: center;
}

.gradient-text {
  font-weight: bold;
  color: $color-blue; // Fallback 
  background: $primary-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}