.loading-container {
  width: 100%;
  max-width: 30rem;
  margin: auto;
  text-align: center;
  margin-top: 20vh;

  .loading-bar, .loading-bar-wrapper {
    height: 1rem;
    border-radius: 1rem;
  }

  .loading-bar-wrapper {
    background-color: $color-gray;
    
  }

  .loading-bar {
    background: $primary-gradient;
    transition: 0.2s ease;
    min-width: 5%;
  }

  .js-loading-bar {
    width: 0%;
  }
}