.progress-bar, .progress-bar-wrapper {
  height: 1rem;
  border-radius: 1rem;
}

.progress-bar-wrapper {
  background-color: $color-gray;
  
}

.progress-bar {
  background: $primary-gradient;
  transition: 0.2s ease;
  min-width: 5%;
}

.js-progress-bar {
  width: 0%;
}