/* Quick Showcase */
.data-quick-showcase {
  font-size: 2rem;
  margin-bottom: $components-spacing;

  span {
    @extend .gradient-text;
  }
}

.ranking-element {
  display: flex;
  margin-bottom: $components-spacing;

  .ranking-keys, .ranking-values {
    width: 50%;
    margin: 0;
  }

  .ranking-keys {
    padding-right: 2rem;
  }

  .ranking-value-row {
    display: flex;

    .ranking-value-label {
      width: 4em;
    }

    .ranking-value-progress {
      flex: 1;
    }
  }

  @media screen and (max-width: 800px) {
    flex-wrap: wrap;
    flex-direction: column-reverse; 

    .ranking-keys, .ranking-values {
      width: 100%;
      margin: 0;
      margin-bottom: $components-spacing / 2;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}